/*header*/

header {
    text-align: $centrar-texto;
    padding: 20px;
    background-image: url(./img/group-portrait-adorable-puppies\ -\ copia-Photoroom.png-Photoroom.png);
    background-size: cover;
    height: 60vh;
    width: 100%;
}
